#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6
#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        Tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };
    };

    behaviors {
        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    macros {
        bt_mac: mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&macro_wait_time 200>, <&to 0>;

            label = "MAC";
        };

        bt_win: bt_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&macro_wait_time 200>, <&to 2>;

            label = "BT_WIN";
        };

        bt_and: bt_and {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&macro_wait_time 200>, <&to 4>;

            label = "BT_AND";
        };

        bt_pad: bt_pad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&macro_wait_time 200>, <&to 6>;

            label = "BT_PAD";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Mac_Base {
            bindings = <
&kp Q             &kp W         &kp E               &kp R       &kp T                                        &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D               &lt 9 F     &kp G        &kp K_MUTE       &kp MINUS      &kp H        &kp J  &kp K      &kp L    &kp RSHIFT
&kp Z             &kp X         &kp C               &kp V       &kp B        &kp LC(Z)        &kp UNDER      &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_CONTROL  &kp LEFT_ALT  &mt LEFT_GUI LANG2  &kp LSHIFT  &lt 8 LANG1  &lt 1 SPACE      &kp BACKSPACE  &lt 9 ENTER                             &kp ESC
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        Mac_Win {
            bindings = <
&trans  &kp LC(LS(TAB))  &kp LC(UP)     &kp LC(TAB)    &kp LC(J)                              &kp LA(LC(D))  &kp LA(LC(E))     &kp LA(LC(F))  &kp LA(LC(T))      &kp LA(LC(G))
&trans  &kp LC(LEFT)     &kp LS(LG(T))  &kp LC(RIGHT)  &kp SPACE          &trans      &trans  &kp LC(K)      &kp LA(LC(LEFT))  &kp F11        &kp LA(LC(RIGHT))  &kp LA(LC(ENTER))
&trans  &kp LG(LEFT)     &kp LC(DOWN)   &kp LG(RIGHT)  &kp LG(LC(SPACE))  &trans      &trans  &kp LC(SEMI)   &trans            &kp F19        &trans             &trans
&trans  &trans           &trans         &trans         &trans             &trans      &trans  &trans                                                             &trans
            >;
        };

        Win_Base {
            bindings = <
&kp Q         &kp W         &kp E                   &kp R       &kp T                                        &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A         &kp S         &kp D                   &lt 9 F     &kp G        &kp K_MUTE       &kp MINUS      &kp H        &kp J  &kp K      &kp L    &kp RSHIFT
&kp Z         &kp X         &kp C                   &kp V       &kp B        &kp LC(Z)        &kp UNDER      &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_GUI  &kp LEFT_ALT  &mt LEFT_CONTROL LANG2  &kp LSHIFT  &lt 8 LANG1  &lt 1 SPACE      &kp BACKSPACE  &lt 9 ENTER                             &kp ESC
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        Win_Win {
            bindings = <
&trans  &kp LC(LS(TAB))   &kp LC(UP)     &kp LC(TAB)        &kp LG(SLASH)                       &trans      &trans        &trans             &trans         &trans
&trans  &kp LC(LG(LEFT))  &kp LS(LC(A))  &kp LC(LG(RIGHT))  &kp SPACE       &trans      &trans  &kp LC(F7)  &kp LG(LEFT)  &kp LG(D)          &kp LG(RIGHT)  &kp LG(UP)
&trans  &kp LA(LEFT)      &trans         &kp LA(RIGHT)      &kp LG(PERIOD)  &trans      &trans  &kp LC(F8)  &trans        &kp LS(LG(RIGHT))  &trans         &trans
&trans  &trans            &trans         &trans             &trans          &trans      &trans  &trans                                                      &trans
            >;
        };

        And_Base {
            bindings = <
&kp Q         &kp W         &kp E                   &kp R       &kp T                                        &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A         &kp S         &kp D                   &lt 9 F     &kp G        &kp K_MUTE       &kp MINUS      &kp H        &kp J  &kp K      &kp L    &kp RSHIFT
&kp Z         &kp X         &kp C                   &kp V       &kp B        &kp LC(Z)        &kp UNDER      &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_GUI  &kp LEFT_ALT  &mt LEFT_CONTROL LANG2  &kp LSHIFT  &lt 8 LANG1  &lt 1 SPACE      &kp BACKSPACE  &lt 9 ENTER                             &kp ESC
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        And_Win {
            bindings = <
&trans  &kp LC(LS(TAB))   &kp LG(TAB)    &kp LC(TAB)        &kp LC(U)                      &trans     &trans            &trans            &trans             &trans
&trans  &kp LC(LG(LEFT))  &kp LS(LC(A))  &kp LC(LG(RIGHT))  &kp SPACE  &trans      &trans  &kp LC(I)  &kp LG(LC(LEFT))  &kp LG(H)         &kp LG(LC(RIGHT))  &kp LG(LC(UP))
&trans  &kp LA(LEFT)      &trans         &kp LA(RIGHT)      &trans     &trans      &trans  &kp LC(O)  &trans            &kp LG(LC(DOWN))  &trans             &trans
&trans  &trans            &trans         &trans             &trans     &trans      &trans  &trans                                                            &trans
            >;
        };

        Pad_Base {
            bindings = <
&kp Q             &kp W         &kp E               &kp R       &kp T                                        &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D               &lt 9 F     &kp G        &kp K_MUTE       &kp MINUS      &kp H        &kp J  &kp K      &kp L    &kp RSHIFT
&kp Z             &kp X         &kp C               &kp V       &kp B        &kp LC(Z)        &kp UNDER      &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_CONTROL  &kp LEFT_ALT  &mt LEFT_GUI LANG2  &kp LSHIFT  &lt 8 LANG1  &lt 1 SPACE      &kp BACKSPACE  &lt 9 ENTER                             &kp ESC
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        Pad_Win {
            bindings = <
&trans  &kp LC(LS(TAB))  &kp LC(UP)     &kp LC(TAB)    &kp LG(Z)                              &trans        &trans            &trans   &trans             &trans
&trans  &kp LC(LEFT)     &kp LS(LG(T))  &kp LC(RIGHT)  &kp SPACE          &trans      &trans  &kp LC(K)     &kp LA(LC(LEFT))  &kp F11  &kp LA(LC(RIGHT))  &kp LA(LC(ENTER))
&trans  &kp LG(LEFT)     &kp LC(DOWN)   &kp LG(RIGHT)  &kp LG(LC(SPACE))  &trans      &trans  &kp LC(SEMI)  &trans            &trans   &trans             &trans
&trans  &trans           &trans         &trans         &trans             &trans      &trans  &trans                                                      &trans
            >;
        };

        SymNum {
            bindings = <
&kp LS(SEMI)   &kp LS(APOS)  &kp LS(GRAVE)     &kp LS(NUMBER_1)  &kp LS(SLASH)                       &kp SLASH  &kp N7  &kp N8  &kp N9  &kp MINUS
&kp BACKSLASH  &kp LS(N7)    &kp LS(NUMBER_3)  &kp LBKT          &kp RBKT       &trans      &trans   &kp ASTRK  &kp N4  &kp N5  &kp N6  &kp LS(EQUAL)
&kp LS(N4)     &kp LS(N2)    &kp LS(N5)        &kp LS(N9)        &kp LS(N0)     &trans      &trans   &kp N0     &kp N1  &kp N2  &kp N3  &kp COMMA
&trans         &trans        &trans            &trans            &trans         &trans      &kp DEL  &trans                             &kp EQUAL
            >;
        };

        Func {
            bindings = <
&kp HOME  &trans          &trans          &trans           &trans                      &trans  &trans    &trans    &trans     &kp PRINTSCREEN
&trans    &trans          &msc SCRL_UP    &trans           &trans  &trans      &trans  &trans  &mkp MB1  &kp UP    &mkp MB2   &trans
&trans    &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &trans  &trans      &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans
&kp END   &trans          &trans          &trans           &trans  &trans      &trans  &trans                                 &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        Adjust {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                      &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans      &trans  &trans                          &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Adjust {
            if-layers = <8 9>;
            then-layer = <10>;
        };
    };
};
